### Build ###
/build/
/release/

### Codeception ###
/tests/_output/*
/tests/_support/_generated/
/wordpress/*

### Composer ###
/vendor/

### npm ###
/node_modules/

### PhpStorm ###
/.idea/

### i18n ###
/languages/
