### Build ###
/build/
/release/

### Codeception ###
/codeception.yml
/tests/*.suite.yml
/tests/_output/*
/tests/_support/_generated/

### Composer ###
/vendor/
/composer.lock

### npm ###
/node_modules/

### PhpStorm ###
/.idea/

### i18n ###
/languages/
